.rc_banner_logo {
    width: 120px;
    height: 120px;
    order: 1;
    padding-top: 1%;
    padding-bottom: 1%;
}
.rc_banner_txt {
    order: 2;
    text-align: center;
    color: white;
    font-size: 2em;
}
.rc_main {
    font-family: "Source Code Pro", monospace;
    margin-bottom: 5%;
}
.rc_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
.rc_banner_wrapper {
    order: 1;
    text-align: center;
}

.rc_responsive {
    display: flex;
    flex-direction: row;
}
.rc_instructions{
    order: 1;
}
.rc-candidates_list {
    order: 2;
}
.rc_recruit_info_view {
    order: 3;
    border: solid 1px black;
}
.rc_recruit_img {
    width: 80px;

}
.rc_recruit_img_wrapper{

}


.rc_recruit_cv_info_view{
    display: flex;
    flex-direction: column;
}
.rc_pdf_content{
    /* height: 62vh; */
    order: 1;
}
.rc_comment_form_wrapper{
    order: 2;
    padding: 2% 5% 0% 5%;
}
.rc_btn_wrapper{
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;
}
.rc_comment_input{
    text-align: center;
}
.rc_input{
    /* border-radius: 50px; */
    padding-bottom: 5%;
    width: 80vh;
}
.rc_btn{
    width: 20vw;
    padding: 1% 2%;
    background-color: black;
    color: white;
}
.rc_instructions{
    text-align: center;
}

.rc_instructions > p{
    font-size: 1.3em;
    font-weight: 500;

}